footer
    
    {
    
   
        position: absolute;
        top: 250%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 100;
        padding: 0 20px;
        border: 15px solid rgb(8, 91, 129);
        border-top: 500px;
    }